{{define "newpost"}}
{{template "header" .}}

<form role="form" method="POST" action="/SavePost">
    <input type="hidden" name="id" value="{{.Post.ID}}" />

    <div class="form-group">
        <label>Content</label>
        <textarea type="text" class="form-control" rows="5" name="content">{{.Post.Content}}</textarea>
        {{.Error}}
    </div>
    <div class="form-group">
        <label for="factions">Choose a thread hold ctrl to select multiple:</label>
        <select id="thread" name="thread" multiple required>
            <option value="general">General</option>
            <option value="factions">factions</option>
            <option value="pvp">pvp</option>
            <option value="rp">rp</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
{{template "footer"}}
{{end}}